/*@keyframes animatedBackground {
	from { background-position: 0 0; }
	to { background-position: 100% 0; }
}*/

body {
  background: #77DAFF url("http://pngimg.com/uploads/cloud/cloud_PNG7.png");
  margin:0;
  padding:0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  -webkit-animation: backgroundScroll 75s linear infinite;
animation: backgroundScroll 75s linear infinite;
font-family: inherit;
}

@-webkit-keyframes backgroundScroll {
from {background-position: 0 0;}
to {background-position: 175% 0;}
}

@keyframes backgroundScroll {
from {background-position: 0 0;}
to {background-position: 175% 0;}
}


body	{
	background-position: 0px 0px;
	background-repeat: repeat-x;
}
div#currently{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 20px;
  padding: 20px;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.5);
}
div#currently p.currentFont {
  font-family: 'Josefin Slab', serif;
  font-size: 2em;
}
div#currently p#currentWeather{
  font-weight: 600;
  font-size: 2.5em;

}
div#currently p#currentLocation {
  font-size: 1.5em;
}
div#currently p#currentTime {
  font-size: 1.5em;
}
div#currently p#currentTemp {
  font-size: 1.5em;
}
div#currently p#currentChance{
  font-size: 1.5em;
}
div#currently p#currentHumidity{
  font-size: 1.5em;
}
div#currently  span.currentFont{
  font-size: 1.5em;
}
div#currently p#currentSummary{
  font-weight: 600;
  font-size: 2.5em;

}
div#currently header{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: .01em;

}
div#currently  button{
  margin-bottom: 1em;
  margin-top: .3em;
  background: rgba(255, 255, 255, 0);
  border: solid 1px black;
  border-radius: 5px;
  -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}
div#currently  button:focus{
outline: none;
}
div#currently  button:hover{
background-color: #424242 !important;
color: white;
}
div#currently  input{
  /*background: inherit;*/
  border: solid 1px black;
  border-radius: 5px;
  width: 10em;
  height: 2em;
  text-align: center;
  background-color: rgba(255, 255, 255, 0) !important;
}
div#currently footer{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  line-height: 2px;
  }
div#center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  line-height: 2px;
}
div#mid{
  width: 100%;
}
div#daily {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.5);


}
div#daily input {
  border: solid 1px black;
  border-radius: 5px;
  width: 10em;
  height: 2em;
  text-align: center;
  background-color: rgba(255, 255, 255, 0) !important;
}
div#daily button{
  margin-bottom: 1em;
  margin-top: .3em;
  background: rgba(255, 255, 255, 0);
  border: solid 1px black;
  border-radius: 5px;
  -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}
div#daily button:focus{
outline: none;
}
div#daily button:hover{
background-color: #424242 !important;
color: white;
}
div#daily ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  margin: ;

  /*flex-wrap: wrap;*/

}
div#daily li {
  width: 9em;

}
div#daily footer{
  width:250px;
  word-wrap: break-word;
}
div#daily img{
  height: 100px;
}
div#daily div#divTitle{
  margin-bottom: -1.5em;
}
div#daily p.dailyFont {
  font-family: 'Josefin Slab', serif;
  font-size: 1.1em;
  font-weight: 900;
}
div#daily p#dailyTitle {
  font-size: 2.5em;
  font-weight: 900;
}
div#daily p#dailySummary {
  font-weight: 900;
  font-size: 1.7em;
}
div#dailyForecast {
  display: flex;
  align-items: center;
  justify-content: center;
  width: inherit;

}
div img {
  height: 200px;
}

div#hourly {
  /*display: flex;*/
  flex-direction: column;
  justify-content: center;
  text-align: center;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.5);
  margin: 20px;
  margin-bottom:0px;
  margin: 0px, 20px, 0px, 20px;
  width: 97%;
}
div#hourly ul{
  display: flex;
  align-items: baseline;
  padding:0;
  width: inherit;
  overflow-x: scroll;
  overflow-y: hidden;
  list-style: none;

}
div#hourly input {
  border: solid 1px black;
  border-radius: 5px;
  width: 10em;
  height: 2em;
  text-align: center;
  background-color: rgba(255, 255, 255, 0) !important;
}
div#hourly button{

  margin-top: .3em;
  background: rgba(255, 255, 255, 0);
  border: solid 1px black;
  border-radius: 5px;
  -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}
div#hourly button:focus{
outline: none;
}
div#hourly button:hover{
background-color: #424242 !important;
color: white;
}
div#hourly li#hourlylist{
  width: 200px;

  /*height:100px;*/
  margin-left: 1em;
  margin-right: 1em;
}
div#hourly header img {
  height: 10em;
}
div#hourly main img {
  height: 6em;
}
div#hourly p.hourlyFont {
  font-family: 'Josefin Slab', serif;
  font-size: 1.1em;
  font-weight: 900;
}
div#hourly p#hourlyTitle{
  font-size: 3em;
  font-weight: 900;
}
div#hourly p#hourlySummary{
  font-size: 1.5em;
  font-weight: 900;
}
div#minutely {
  /*display: flex;*/
  flex-direction: column;
  justify-content: center;
  text-align: center;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.5);
  margin: 40px;
  width: 97%;
}
div#minutely ul{
  display: flex;
  /*flex-wrap: wrap;*/
  /*flex-direction: row;*/
  /*display: inline;*/
  /*justify-content: center;*/
  align-items: baseline;
  /*margin-left: 1em;*/
  padding:0;
  width: 100%;
  overflow-x: scroll;
  overflow-y: hidden;
  list-style: none;
}
div#minutely li{
  width: 200px;

  /*height:100px;*/
  margin-left: 1em;
  margin-right: 1em;
}
div#minutely img {
  height: 4em;
}
div#minutely input{
  border: solid 1px black;
  border-radius: 5px;
  width: 10em;
  height: 2em;
  text-align: center;
  background-color: rgba(255, 255, 255, 0) !important;
}
div#minutely button{
  margin-bottom: 1em;
  margin-top: .3em;
  background: rgba(255, 255, 255, 0);
  border: solid 1px black;
  border-radius: 5px;
  -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}
div#minutely button:focus{
outline: none;
}
div#minutely button:hover{
background-color: #424242 !important;
color: white;
div#minutely p#mTitle {
  font-family: 'Josefin Slab', serif;
  font-size: 2.5em;
  font-weight: 900;
}
div#minutely p.mFont {
  font-family: 'Josefin Slab', serif;
  font-size: 1.1em;
  font-weight: 900;
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .5s
}
.fade-enter, .fade-leave-to /* .fade-leave-active in <2.1.8 */ {
  opacity: 0
}

div#currently img {
  height: 9em;
}

body div button.hide {
  background-color: rgba(255, 255, 255, 0) !important;
  color: black;
  width: 10em;
  height: 2em;
  -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}

body div button.hide:focus {
  outline: none;
}
body div button.hide:hover {
  background-color: #424242 !important;
  color: white;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #424242;
}

input.inputField:focus {
  outline:none;
}
