/*@keyframes animatedBackground {
	from { background-position: 0 0; }
	to { background-position: 100% 0; }
}*/

body {
  background: #77DAFF url("http://pngimg.com/uploads/cloud/cloud_PNG7.png");
  margin:0;
  padding:0;
  display: flex;
  flex-direction: column;
  justify-content: center;

  align-items: center;
  -webkit-animation: backgroundScroll 75s linear infinite;
animation: backgroundScroll 75s linear infinite;
font-family: inherit;
}

@-webkit-keyframes backgroundScroll {
from {background-position: 0 0;}
to {background-position: 175% 0;}
}

@keyframes backgroundScroll {
from {background-position: 0 0;}
to {background-position: 175% 0;}
}


body	{
	background-position: 0px 0px;
	background-repeat: repeat-x;


}
div#currently{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 40px;
  padding: 20px;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.5);
  /*width: 50%;*/


}

div#currently header{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: .01em;
  margin-bottom: 5em;
}
div#currently header button{
  margin-bottom: 4em;
  background: rgba(255, 255, 255, 0.5);
  border: solid 1px grey;
  border-radius: 5px;

}
div#currently header input{
  background: inherit;
  border: solid 1px grey;
  border-radius: 5px;
  width: 5em;
}

div#currently footer{
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
line-height: 2px;
}

div#center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  line-height: 2px;
}


div#daily {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 40px;
  /*padding: 50px;*/

  border-radius: 10px;
  background: rgba(255, 255, 255, 0.5);

}

div#daily ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  margin: ;
  /*flex-wrap: wrap;*/

}

div#daily li {
  width: 9em;

}

div#daily footer{
  width:250px;
  word-wrap: break-word;
}

div#daily img{
  height: 100px;
}

div#dailyForecast {
  display: flex;
  align-items: center;
  justify-content: center;

}
div img {
  height: 200px;
}

div#hourly {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.5);
  margin: 40px;
}

div#hourly ul{
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

div#hourly li{
  width: 7em;
}

div#hourly img {
  height: 4em;
}
div#minutely {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.5);
  margin: 40px;
  /*line-height: 2em;*/
}

div#minutely ul{
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  /*line-height: 2em;*/
}

div#minutely li{
  width: 7em;
  margin-top: 2em;
}

div#minutely img {
  height: 4em;
}

div#minutely input{
  width: 5em;
}

div#minutely button{
  width: 5em;
}
